@font-face {
  font-family: 'DevonshireRegular';
  font-style: normal;
  font-weight: normal;
  src: url('Fonts/Devonshire-Regular.woff') format('woff');
  }
@font-face {
  font-family: 'DancingScript-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('Fonts/DancingScript-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'CroissantOne-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('Fonts/CroissantOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'KaushanScript-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('Fonts/KaushanScript-Regular.otf') format('opentype');
}

$text-color: #fdcb46;
$bg-color: #579c87;
$font-pg: arial, helvetica, sans-serif;
$titre-menu: black;
$font-enchante: DevonshireRegular, $font-pg;
$bg-enchante: #fcdfdb;
$font-chic: CroissantOne-Regular, $font-pg;
$bg-chic: #fff5fe;
$font-papille: DancingScript-Regular, $font-pg;
$bg-papille: #edefef;
$font-palette: KaushanScript-Regular, $font-pg;
$bg-palette: #fdfffd;
$bg_dgd_note: linear-gradient(to right, #EF361B, #F9B548);
$bg_dgd_chic: linear-gradient(to right, #DEA012, #A467AE, #626AB9);
$bg_dgd_delice: linear-gradient(to right, #0046C8, #0071D7, #00BEF5);
$bg_dgd_palette: linear-gradient(to right, #30A700, #A6FF8D);

  body {
    font-family: $font-pg;
    margin: 0;
  }
  h1, #proche, footer, button{
    background-color: $bg-color;
    color: $text-color;
  }
  h1{
    font-size: 4em;
    text-align: center;
    margin-top: 0;
    height: 150px;
  }
  /*PAGE DES MENUS
  _______________*/
  h2{
    text-align: center;
    color: $titre-menu;
    font-size: 2em;
    margin-top: 0;
  }
  h3{
    text-align: center;
  }
  img{
    display: none;
  }
  .all_menu{
    padding-bottom: 5em;
    margin: auto;
  }
  .all_menu article{
    font-size: 2em;
  }
  .plat{
    text-align: center;
    font-size: 0.8em;
  }
  .prix{
    font-weight: bold;
    text-align: center;
  }
  .dessert{
    font-size: 0.8em;
    text-align: center;
  }
  .tlt_menu{
    font-size: 3em;
    text-align: center;
    margin-top: 50px
  }
  /* Font and Color
  ________________*/
  .note_enchante{
    font-family: $font-enchante;
  }
  .chic_francais{
    font-family: $font-chic;
  }
  .delice_papille{
    font-family: $font-papille;
  }
  .palette_gout{
    font-family: $font-palette;
  }
  /* Menu page d'accueil
  _____________________*/
  @mixin box-menu {
    box-shadow: 2px 2px 10px grey;
    margin: 15px;
    height: 10em;
    font-size: 3em;
    text-align: center;
  }
  @mixin degrade {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .box{
      &_menu{
          @include box-menu;
      }
  }
  .rst_name{
    margin-top: 0;
    padding-top: 80px;
  }
  .rst_menu{
    height: 10em;
  }
  .img-croche{
    display: initial;
    width: 2em;
    margin-top: 30px;
  }
  .menu{
    &_one{
      background-color: $bg-enchante;
      font-family: $font-enchante;
    }
    &_two{
      background-color: $bg-chic;
      font-family: $font-chic;
    }
    &_three{
      background-color: $bg-papille;
      font-family: $font-papille;
    }
    &_four{
      background-color: $bg-palette;
      font-family: $font-palette;
    }
  }
  .chic{
    &_entree{
    color: #DEA012;
    }
    &_plat{
      color: #A467AE;
    }
    &_dessert{
      color: #626AB9;
    }
  }
  .dgd_tlt_chic, .menu_chic{
    background: $bg_dgd_chic;
    @include degrade;
  }
  .dgd_tlt_delice, .menu_delice{
    background: $bg_dgd_delice;
    @include degrade;
  }
  .dgd_tlt_palette, .menu_palette{
    background: $bg_dgd_palette;
    @include degrade;
  }
  .menu_chic + p{
    color: #DEA012;
    font-size: 1.3em;
  }
  .menu_delice + p{
    color: #0046C8;
    font-size: 1.3em;
  }
  .menu_palette + p{
    color: #30A700;
    font-size: 1.3em;
  }
  .rst_name + p{
    margin-top: 0;
  }
  /* Div Prochainement
  __________________*/
  
  .container{
    display: flex;
    justify-content: center;
    padding: 100px;
  }
  #proche{
    display: flex;
    font-size: 2em;
    padding: 3px 20px;
    border-radius: 10px;
    margin-bottom: 1.5em;
  }
  .sms_style{
    display: flex;
    margin-left: 5px;
    margin-top: 5px;

  }
  .point{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: auto 2px;
    background-color: $text-color;
  }

  /*Footer
  _______*/
  
  footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 4em;
    position: fixed;
    bottom: 0;
  }
  form{
    margin: auto;
  }
  button{
    color: $text-color;
    font-size: 1.5em;
    border: $bg-color;
  }
  footer a{
    text-decoration: none;
    color: $text-color;
  }
  /* Mention Legales
  ________________*/
  .projet-oc{
    text-align: center;
  }
  .projet_oc{
    background: $bg-color;
    width: 80%;
    margin: auto;
    border-radius: 40px;
    padding: 20px;
  }
  .projet_oc p{
    font-size: 2.5em;
    color: $text-color;
  }

  /*-------------------------------------Media Queries Breakpoint Tablette & Ecran ordinateur et plus--------------------------------------- 
  __________________________________________________________________________________________________________________________________________*/

  @media all and (min-width: 768px){
    .box_menu{
      height: 12em;
      width: 10em;
      margin: 50px auto;
    }
  }

  @media all and (min-width: 982px){

    /*Taille des menus et alignement page d'accueil
    _____________________________________________*/

    .mini_menu{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto 50px;
    }
    .box_menu{
      font-size: 2.5em;
      height: 12em;
      width: 10em;
      margin: 30px;
    }
    .rst_menu{
      height: 12em;
    }
    .rst{
      margin-top: 0;
      padding-top: 1em;
      &_name{
      margin-top: 0;
      padding-top: 10rem;
      font-size: 0.7em;
      }
    }

    /*Font et background menu
    _______________________*/

    .note_enchante{
      background-color: $bg-enchante;
      font-size: 0.9em;
    }
    .chic_francais{
      background-color: $bg-chic;
      font-size: 0.6em;
    }
    .delice_papille{
      background-color: $bg-papille;
      font-size: 0.8em;
    }
    .palette_gout{
      background-color: $bg-palette;
      font-size: 0.7em;
    }
    /* Mise en page des 4 menus 
    ___________________________*/

    .note_logo{
      text-align: center;
    }
    .all_menu h2{
      font-size: 5em;
      margin: 80px;
    }
    .all_menu{
      max-width: 900px;
      margin-bottom: 100px;
      padding-top: 40px;
    }
    .note_enchante h2
    {
      margin-top: 0;
    }
    .plat{
      margin-left: 100px;
    }
    .prix{
      min-width: 30%;
    }
    .food_price{
      display: flex;
      justify-content: space-between;;
      height: 80px;
    }
    .dessert{
      text-align: left;
      margin-left: 100px;
      padding: 10px;
    }
    .bord{
      display: flex;
    }
    .bord img{
      display: initial;
      width: 250px;
    }
    .bord p, h3{
      margin: auto;
    }
    .note_music_top, .note_music_btm{
      display: initial;
    }
    .note_music_btm{
      width: 2em;
      margin: -10px 10px;
    }
    /*ANIMATION MENU (FONDU ET GROSSISSEMENT)
    ______________________________________*/
    .rst_menu{
      transform: scale(1);
      transition: transform 100ms;
      &:hover {
        transform: scale(1.20);
      }
    }
    .box_menu{
      opacity: 1;
      transition: 150ms;
      &:hover{
        opacity: 0.2;
      }
    }
     /*ANIMATION BONTON 
    ________________*/
    button{
      &:hover{
        animation: headshake 100ms 2;
      }
    }
    @keyframes headshake {
      25% {
          transform: translateX(2%);
      }
      75% {
          transform: translateX(2% * -1);
      }
    }
    /*ANIMATION POINT EN SUSPENSION
    _____________________________*/
    .dot{
      &_one{
      animation: clignote 3000ms infinite;
      }
      &_two{
      animation: clignote 3000ms 200ms infinite;
      }
      &_three{
      animation: clignote 3000ms 400ms infinite;
      }
    }

    @keyframes clignote {
      0% {opacity: 0;}
      75% {opacity: 1;}
    }
   }
    /* ANIMATION SOULIGNEMENT 
    _______________________*/
    .anim-under{
      background: linear-gradient(to top, black 0%, black 10%, transparent 10.01%) no-repeat;
      background-size: 0 100%;
      transition: background-size .3s;
      &:hover{
        background-size: 100% 100%;
      }
    }
    .anim-under-O{
      background: linear-gradient(to top, #DEA012 0%, #DEA012 10%, transparent 10.01%) no-repeat;
      background-size: 0 100%;
      transition: background-size .3s;
      &:hover{
        background-size: 100% 100%;
      }
    }.anim-under-P{
      background: linear-gradient(to top, #A467AE 0%, #A467AE 10%, transparent 10.01%) no-repeat;
      background-size: 0 100%;
      transition: background-size .3s;
      &:hover{
        background-size: 100% 100%;
      }
    }.anim-under-B{
      background: linear-gradient(to top, #626AB9 0%, #626AB9 10%, transparent 10.01%) no-repeat;
      background-size: 0 100%;
      transition: background-size .3s;
      &:hover{
        background-size: 100% 100%;
      }
    }