@font-face {
  font-family: 'DevonshireRegular';
  font-style: normal;
  font-weight: normal;
  src: url("Fonts/Devonshire-Regular.woff") format("woff");
}

@font-face {
  font-family: 'DancingScript-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("Fonts/DancingScript-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'CroissantOne-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("Fonts/CroissantOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'KaushanScript-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("Fonts/KaushanScript-Regular.otf") format("opentype");
}

body {
  font-family: arial, helvetica, sans-serif;
  margin: 0;
}

h1, #proche, footer, button {
  background-color: #579c87;
  color: #fdcb46;
}

h1 {
  font-size: 4em;
  text-align: center;
  margin-top: 0;
  height: 150px;
}

/*PAGE DES MENUS
  _______________*/
h2 {
  text-align: center;
  color: black;
  font-size: 2em;
  margin-top: 0;
}

h3 {
  text-align: center;
}

img {
  display: none;
}

.all_menu {
  padding-bottom: 5em;
  margin: auto;
}

.all_menu article {
  font-size: 2em;
}

.plat {
  text-align: center;
  font-size: 0.8em;
}

.prix {
  font-weight: bold;
  text-align: center;
}

.dessert {
  font-size: 0.8em;
  text-align: center;
}

.tlt_menu {
  font-size: 3em;
  text-align: center;
  margin-top: 50px;
}

/* Font and Color
  ________________*/
.note_enchante {
  font-family: DevonshireRegular, arial, helvetica, sans-serif;
}

.chic_francais {
  font-family: CroissantOne-Regular, arial, helvetica, sans-serif;
}

.delice_papille {
  font-family: DancingScript-Regular, arial, helvetica, sans-serif;
}

.palette_gout {
  font-family: KaushanScript-Regular, arial, helvetica, sans-serif;
}

/* Menu page d'accueil
  _____________________*/
a {
  text-decoration: none;
  color: black;
}

.box_menu {
  -webkit-box-shadow: 2px 2px 10px grey;
          box-shadow: 2px 2px 10px grey;
  margin: 15px;
  height: 10em;
  font-size: 3em;
  text-align: center;
}

.rst_name {
  margin-top: 0;
  padding-top: 80px;
}

.rst_menu {
  height: 10em;
}

.img-croche {
  display: initial;
  width: 2em;
  margin-top: 30px;
}

.menu_one {
  background-color: #fcdfdb;
  font-family: DevonshireRegular, arial, helvetica, sans-serif;
}

.menu_two {
  background-color: #fff5fe;
  font-family: CroissantOne-Regular, arial, helvetica, sans-serif;
}

.menu_three {
  background-color: #edefef;
  font-family: DancingScript-Regular, arial, helvetica, sans-serif;
}

.menu_four {
  background-color: #fdfffd;
  font-family: KaushanScript-Regular, arial, helvetica, sans-serif;
}

.chic_entree {
  color: #DEA012;
}

.chic_plat {
  color: #A467AE;
}

.chic_dessert {
  color: #626AB9;
}

.dgd_tlt_chic, .menu_chic {
  background: -webkit-gradient(linear, left top, right top, from(#DEA012), color-stop(#A467AE), to(#626AB9));
  background: linear-gradient(to right, #DEA012, #A467AE, #626AB9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dgd_tlt_delice, .menu_delice {
  background: -webkit-gradient(linear, left top, right top, from(#0046C8), color-stop(#0071D7), to(#00BEF5));
  background: linear-gradient(to right, #0046C8, #0071D7, #00BEF5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dgd_tlt_palette, .menu_palette {
  background: -webkit-gradient(linear, left top, right top, from(#30A700), to(#A6FF8D));
  background: linear-gradient(to right, #30A700, #A6FF8D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu_chic + p {
  color: #DEA012;
  font-size: 1.3em;
}

.menu_delice + p {
  color: #0046C8;
  font-size: 1.3em;
}

.menu_palette + p {
  color: #30A700;
  font-size: 1.3em;
}

.rst_name + p {
  margin-top: 0;
}

/* Div Prochainement
  __________________*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px;
}

#proche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2em;
  padding: 3px 20px;
  border-radius: 10px;
  margin-bottom: 1.5em;
}

.sms_style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
}

.point {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: auto 2px;
  background-color: #fdcb46;
}

/*Footer
  _______*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 4em;
  position: fixed;
  bottom: 0;
}

form {
  margin: auto;
}

button {
  color: #fdcb46;
  font-size: 1.5em;
  border: #579c87;
}

footer a {
  text-decoration: none;
  color: #fdcb46;
}

/* Mention Legales
  ________________*/
.projet-oc {
  text-align: center;
}

.projet_oc {
  background: #579c87;
  width: 80%;
  margin: auto;
  border-radius: 40px;
  padding: 20px;
}

.projet_oc p {
  font-size: 2.5em;
  color: #fdcb46;
}

/*-------------------------------------Media Queries Breakpoint Tablette & Ecran ordinateur et plus--------------------------------------- 
  __________________________________________________________________________________________________________________________________________*/
@media all and (min-width: 768px) {
  .box_menu {
    height: 12em;
    width: 10em;
    margin: 50px auto;
  }
}

@media all and (min-width: 982px) {
  /*Taille des menus et alignement page d'accueil
    _____________________________________________*/
  .mini_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto 50px;
  }
  .box_menu {
    font-size: 2.5em;
    height: 12em;
    width: 10em;
    margin: 30px;
  }
  .rst_menu {
    height: 12em;
  }
  .rst {
    margin-top: 0;
    padding-top: 1em;
  }
  .rst_name {
    margin-top: 0;
    padding-top: 10rem;
    font-size: 0.7em;
  }
  /*Font et background menu
    _______________________*/
  .note_enchante {
    background-color: #fcdfdb;
    font-size: 0.9em;
  }
  .chic_francais {
    background-color: #fff5fe;
    font-size: 0.6em;
  }
  .delice_papille {
    background-color: #edefef;
    font-size: 0.8em;
  }
  .palette_gout {
    background-color: #fdfffd;
    font-size: 0.7em;
  }
  /* Mise en page des 4 menus 
    ___________________________*/
  .note_logo {
    text-align: center;
  }
  .all_menu h2 {
    font-size: 5em;
    margin: 80px;
  }
  .all_menu {
    max-width: 900px;
    margin-bottom: 100px;
    padding-top: 40px;
  }
  .note_enchante h2 {
    margin-top: 0;
  }
  .plat {
    margin-left: 100px;
  }
  .prix {
    min-width: 30%;
  }
  .food_price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
  }
  .dessert {
    text-align: left;
    margin-left: 100px;
    padding: 10px;
  }
  .bord {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bord img {
    display: initial;
    width: 250px;
  }
  .bord p, h3 {
    margin: auto;
  }
  .note_music_top, .note_music_btm {
    display: initial;
  }
  .note_music_btm {
    width: 2em;
    margin: -10px 10px;
  }
  /*ANIMATION MENU (FONDU ET GROSSISSEMENT)
    ______________________________________*/
  .rst_menu {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 100ms;
    transition: -webkit-transform 100ms;
    transition: transform 100ms;
    transition: transform 100ms, -webkit-transform 100ms;
  }
  .rst_menu:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .box_menu {
    opacity: 1;
    -webkit-transition: 150ms;
    transition: 150ms;
  }
  .box_menu:hover {
    opacity: 0.2;
  }
  /*ANIMATION BONTON 
    ________________*/
  button:hover {
    -webkit-animation: headshake 100ms 2;
            animation: headshake 100ms 2;
  }
  @-webkit-keyframes headshake {
    25% {
      -webkit-transform: translateX(2%);
              transform: translateX(2%);
    }
    75% {
      -webkit-transform: translateX(-2%);
              transform: translateX(-2%);
    }
  }
  @keyframes headshake {
    25% {
      -webkit-transform: translateX(2%);
              transform: translateX(2%);
    }
    75% {
      -webkit-transform: translateX(-2%);
              transform: translateX(-2%);
    }
  }
  /*ANIMATION POINT EN SUSPENSION
    _____________________________*/
  .dot_one {
    -webkit-animation: clignote 3000ms infinite;
            animation: clignote 3000ms infinite;
  }
  .dot_two {
    -webkit-animation: clignote 3000ms 200ms infinite;
            animation: clignote 3000ms 200ms infinite;
  }
  .dot_three {
    -webkit-animation: clignote 3000ms 400ms infinite;
            animation: clignote 3000ms 400ms infinite;
  }
  @-webkit-keyframes clignote {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
  }
  @keyframes clignote {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
  }
}

/* ANIMATION SOULIGNEMENT 
    _______________________*/
.anim-under {
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(10%, black), color-stop(10.01%, transparent)) no-repeat;
  background: linear-gradient(to top, black 0%, black 10%, transparent 10.01%) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.anim-under:hover {
  background-size: 100% 100%;
}

.anim-under-O {
  background: -webkit-gradient(linear, left bottom, left top, from(#DEA012), color-stop(10%, #DEA012), color-stop(10.01%, transparent)) no-repeat;
  background: linear-gradient(to top, #DEA012 0%, #DEA012 10%, transparent 10.01%) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.anim-under-O:hover {
  background-size: 100% 100%;
}

.anim-under-P {
  background: -webkit-gradient(linear, left bottom, left top, from(#A467AE), color-stop(10%, #A467AE), color-stop(10.01%, transparent)) no-repeat;
  background: linear-gradient(to top, #A467AE 0%, #A467AE 10%, transparent 10.01%) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.anim-under-P:hover {
  background-size: 100% 100%;
}

.anim-under-B {
  background: -webkit-gradient(linear, left bottom, left top, from(#626AB9), color-stop(10%, #626AB9), color-stop(10.01%, transparent)) no-repeat;
  background: linear-gradient(to top, #626AB9 0%, #626AB9 10%, transparent 10.01%) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.anim-under-B:hover {
  background-size: 100% 100%;
}
/*# sourceMappingURL=style.css.map */